<div>
  <form action='/links' method='POST'>
  url: <input type='text' name='url'>
  title: <input type='text' name='title'>
  tag: <input type='text' name='tag'>
  <input type='submit' value='Create link'>
  </form>
</div>
