<h1> Links </h1>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
      tag:   <%= link.tag   %>
    </li>
  <% end %>
</ul>
<a href="/">Go to Home Page</a>
